[submodule "part3/phonebook-backend"]
	path = part3/phonebook-backend
	url = git@github.com:machy44/phonebook-backend.git
[submodule "notes-backend"]
	path = notes-backend
	url = git@github.com:machy44/notes-backend.git
[submodule "part4/blog-list"]
	path = part4/blog-list
	url = git@github.com:machy44/blog-list.git
[submodule "part7/bloglist-frontend-redux"]
	path = part7/bloglist-frontend-redux
	url = git@github.com:machy44/bloglist-frontend-redux.git
